@model IEnumerable<MilitaryUnit>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3 mb-2">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-uppercase">Military Unit List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="MilitaryUnit" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle-dotted center-block"></i>&nbsp;
                Create New Military Unit
            </a>
        </div>
    </div>
</div>
<table class="table table-bordered table-srtiped" style="width:100%">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Level
            </th>
            <th>
                Damage
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td width="33%">
                    @obj.Name
                </td>
                <td width="25%">
                    @obj.Level
                </td>
                <td width="25%">
                    @obj.Damage
                </td>
            </tr>
        }
    </tbody>
</table>
